@charset "UTF-8";

:root {
    --azul-fundo: #080D1A;
    --azul-escuro: #102A43;
    --azul: #2563EB;
    --azul-claro: #38BDF8;
    --roxo: #7C3AED;
    --branco-azulado: #c9e6fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--azul-fundo);
    color: var(--branco-azulado);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--azul-escuro);
}

.sidebar {
    position: relative;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    background: none;
    border: none;
    color: var(--branco-azulado);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn:hover {
    color: var(--azul-claro);
    transform: scale(1.05);
}

.menu {
    position: absolute;
    top: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    min-width: 140px;

    background-color: var(--azul-escuro);
    border-radius: 10px 0 10px 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

    opacity: 0;
    visibility: hidden;

    transform: translateY(-10px);

    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;
}

.menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu a,
.menu button {
    width: 100%;
    padding: 10px;

    background: transparent;
    border: none;
    border-radius: 6px;

    color: var(--branco-azulado);

    text-decoration: none;
    text-align: right;

    font-size: 1rem;
    cursor: pointer;

    transition: 0.2s ease;
}

.menu a:hover,
.menu button:hover {
    background-color: var(--azul);
    color: white;
}